<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Ingesta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-item>
          <ion-label position="floating">Path</ion-label>
          <ion-input ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Fecha</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" min="2000-03-14" max="2020-12-09"></ion-datetime>
            </ion-item>

        <ion-item>
            <ion-label position="floating">Quien lo sube</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Mail</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>

          <ion-item>
              <ion-label position="floating">Duracion</ion-label>
              <ion-input type="number" inputmode="numeric"></ion-input>
            </ion-item>

        <ion-item>
            <ion-label position="floating">Formato</ion-label>
            <ion-input></ion-input>
          </ion-item>


        <ion-button  expand="full" size="large" color="dark" fill="solid">Subir a la Plataforma</ion-button>

</ion-content>
