<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Instrucciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Lee cuidadosamente</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-card-title>
         Usuari@ Tendras que llenar los siguientes campos requeridos en la pestaña de Ingesta
          tal como se piden.

          Asegurense de estar conectados a Internet.
          Solo presionen el boton una vez

          Cualquier duda tendran que pedirle a un Ingeniero ayuda.

          </ion-card-title>

        <ion-img src="/assets/Telemundo-NBCUnivesal.png"></ion-img>

        </ion-card-content>
      </ion-card>
      
</ion-content>
